@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&family=Righteous&display=swap');

.styleText{
    

    font-size:20px;
    font-family: "Pacifico", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    
}